@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html {
    font-size: 10px;
    background: url(../img/drumkit.png) bottom center;
    background-size: cover;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
    color: #ffffff;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .5rem solid #fffffffa;
    border-radius: 50%;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    transition: all .07s ease;
    min-width: 50px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.6);
}

.playing {
    transform: scale(1.1);
    border-color: #28F5F5;
    box-shadow: #28F5F5;
}

kbd {
    display: block;
    font-size: 3rem;
    font-family: 'Fjalla One', sans-serif;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #28F5F5;
}